.project {
    display: flex;
    justify-content: center;
}

.project h1 {
    align-self: start;
    line-height: 1;
    font-size: 2.5em;
    font-weight: 400;
}

.project-img {
    width: 40vw;
    height: auto;
    align-self: center;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px;
    max-width: 812px;
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: justify;
    hyphens: auto;
    flex-direction: column;
}

/* Desktop styling */
@media (min-width: 768px){
    .project-img {
        width: 30%;
        height: auto;
        align-self: center;
    }

    .project-wrapper {
        flex-direction: row;
        padding: 32px 16px;
        max-width: 812px;
    }

    .project:nth-child(odd) .project-img {
        order: -1; /* This will make the image appear first (to the left) */
        margin-right: 32px;
    }

    .project:nth-child(even) .project-img {
        margin-left: 32px;
    }

    .project:nth-child(even) .project-content {
        order: -1; /* This will make the content appear first (to the left), and image to the right */
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: justify;
        flex-direction: column;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
}

.info span {
    width: 300px;
    text-align: start;
    margin-left: 8px;
}

.info b {
    font-weight: 600;
    margin-right: auto; /* Pushes the <b> to the left and <span> to the right */
}

.project-header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.project-icon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.project a {
    text-decoration: none;
    font-weight: 800;
}

.project a:hover {
    text-decoration: underline;
}

.project-chips {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
}

.chip {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    border-radius: 25px;
    margin-right: 8px;
    font-weight: 500;
    margin-top: 8px;
}
