.App {
    flex: 1;
    color: #313131;
    line-height: 1.4;
    font-family: "Noto Serif", serif;
}

header nav {
    max-width: 1524px;
    display: flex;
    justify-content: right;
    padding-top: 16px;
    padding-right: 16px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px; /* Spacing between menu items */
}

header nav ul li:last-child {
    margin-right: 0; /* No margin to the right of the last item */
}

header nav ul li a {
    text-decoration: none; /* Remove the underline from links */
    color: #333333; /* Color of the links */
    font-weight: bold; /* Make the links bold */
}

header nav ul li a:hover {
    color: #099539;
}

.top-part {
    max-width: 1024px;
    display: flex;
    margin: 32px auto 0;
    padding: 20px;
}

.top-part h1 {
    margin-top: 0;
}

.top-part-text {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    text-align: justify;
    flex-direction: column;
    align-self: center;
}

.profile-picture {
    width: 240px;
    height: 240px;
    align-self: center;
}

/* style for text items that are stretched to fit maximum width */
.separator-list {
    display: flex;
    color: #099539;
    font-weight: bold;
    font-size: 14px;
    justify-content: space-between; /* This will distribute space evenly between the items */
    width: 100%; /* Ensure the container stretches to the full width */
}

.separator-list span {
}

.separator-list span:not(:last-child)::after {
    content: "|";

    margin: 0 10px; /* Adjust spacing around the separator as needed */
}

.projects-title {
    margin-top: 64px;
    text-align: center;
}

.App-link {
    color: #099539;
}