.App {
    flex: 1;
    background-color: #FFFEF7;
    color: #313131;
    line-height: 1.4;
    font-family: "Noto Serif", serif;
}

header nav {
    max-width: 1524px;
    display: flex;
    justify-content: right;
    padding-top: 16px;
    padding-right: 16px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px; /* Spacing between menu items */
}

header nav ul li:last-child {
    margin-right: 0; /* No margin to the right of the last item */
}

header nav ul li a {
    text-decoration: none; /* Remove the underline from links */
    color: #333333; /* Color of the links */
    font-weight: bold; /* Make the links bold */
}

header nav ul li a:hover {
    color: #099539;
}

/* Mobile styling */
.top-part {
    display: flex;
    flex-direction: column;
    margin: 32px auto 0;
    padding: 20px;
}

.top-part-text {
    /*padding-left: 32px;*/
    /*padding-right: 32px;*/
    text-align: justify;
    flex-direction: column;
    align-self: center;
}

.top-part h1 {
    margin-top: 0;
}

.profile-picture {
    max-width: 60%;
    height: auto;
    display: flex;
    padding-bottom: 24px;
    align-self: center;
}

/* Desktop styles with media query */
@media (min-width: 768px) { /* Adjust breakpoint as needed for desktop */
    .top-part {
        max-width: 1024px;
        flex-direction: row; /* Image and text in a row for desktop */
        align-items: center; /* Align items to the start of the cross axis */
    }

    .top-part-text {
        padding-left: 32px;
        padding-right: 32px;
    }

    .profile-picture {
        width: auto;
        max-width: 25%;
    }

    .top-part-text {
        margin-left: 20px; /* Add margin between image and text on desktop */
        width: auto; /* Allow text container to size according to content */
    }
}

.separator-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    color: #099539;
    font-weight: bold;
    font-size: 14px;
    gap: 10px; /* Adds space between items when they wrap */
}

.separator-list span {
    flex: 1 1 auto; /* Allow each item to grow and shrink as needed */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .separator-list{
        gap: 16px;
    }

    .separator-list span {
        flex: 1 1 1%
    }
}

.projects-title {
    text-align: center;
}

.App-link {
    color: #099539;
}